/* @import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}
.text-gra {
  background: radial-gradient(50% 50% at 50% 50%, #008080 0%, #B09DDD 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.builbtn-grad {
  background: radial-gradient(50% 50% at 50% 50%, #008080 0%, #B09DDD 61.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}
:hover.smartbg {
  border-radius: 40px;
background: linear-gradient(180deg, #107B88 0%, #6A63B6 100%);
}
.signupgate {
  background: linear-gradient(91deg, #008080 26.57%, #C5AEFF 74.29%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.signupbtn {
  border-radius: 15px;
background: linear-gradient(180deg, #008080 0%, #7B5FBF 100%);
}
.signupbtn:hover {
  background: #008080;
}
.rocket{
  border-radius: 17.947px;
background: linear-gradient(237deg, #0A6B80 19.39%, #2F2180 83.13%);
}
.loggedUser {
box-shadow: 0px 18px 54px 0px rgba(0, 0, 0, 0.02);
}
.inp {
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09); 
}
.grpcard1 {
  border-radius: 16px;
  background: linear-gradient(66deg, #008080 0%, #400080 84.01%);
}
.grpcard2 {
  background: linear-gradient(66deg, #008080 0%, #400080 84.01%);
}
.grpbtnn{
  border-radius: 24px;
background: linear-gradient(182deg, #0FF 1.66%, #A87BFF 144.64%);
}
.chatcard {
  border-radius: 5px;
background: var(--gradient, linear-gradient(66deg, #1566DF 0%, #21C5DB 84.01%));
}